---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title?: string;
  description?: string;
  permalink?: string;
  current?: string;
  frontmatter?: any;
}
const { title, description, permalink, current, frontmatter } = Astro.props;

const pageTitle = title || frontmatter?.title || 'DeCAF';
const pageDescription = description || frontmatter?.description || '';
const pagePermalink = permalink || frontmatter?.permalink || '';
const pageCurrent = current || frontmatter?.current || '';
---
<html lang="en">
<head>
  <BaseHead title={pageTitle} description={pageDescription} permalink={pagePermalink} />
</head>
<body>
  <div class="layout">
    <Header current={pageCurrent} />

    <main>
      <slot />
    </main>

    <Footer />
  </div>
</body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
